<h1>
  Payment Calculation
</h1>

<form action="/payment/results">
  <div>
    <label for="apr_num">
      APR
    </label>
    <input type="text" name="int" id="apr_num">
  </div>

  <div>
    <label for="year_num">
      Number of years
    </label>
    <input type="text" name="yr" id="year_num">
  </div>

  <div>
    <label for="prin_num">
      Principal
    </label>
    <input type="text" name="prin" id="prin_num">
  </div>

  <div >
    <button>
      Calculate monthly payment
    </button>
  </div>

</form>
