<h1>
  Random Calculation
</h1>

<form action="/random/results">
  <div>
    <label for="minimum_num">
      Minimum
    </label>
    <input type="text" name="num_1" id="minimum_num">
  </div>

  <div>
    <label for="maximum_num">
      Maximum
    </label>
    <input type="text" name="num_2" id="maximum_num">
  </div>

  <div >
    <button>
      Pick random number
    </button>
  </div>

</form>
