<h1>
  Square Root Calculation
</h1>

<form action="/square_root/results">
  <div>
    <label for="entered_numbers">
      Enter a number
    </label>
    <input type="text" name="user_number" id="entered_numbers">
  </div>

  <div >
    <button>
      Calculate square root
    </button>
  </div>

</form>
