<h1>
  Square Calculation
</h1>

<form action="/square/results">
  <div>
    <label for="entered_numbers">
      Enter a number
    </label>
    <input type="text" name="user_number" id="entered_numbers">
  </div>

  <div >
    <button>
      Calculate square
    </button>
  </div>

</form>
