<h1>
  Word Count Calculation
</h1>

<form action="/word_count/results">

  <div >
    <label>Text</label>
    <textarea name="user_text" rows="3" placeholder="Enter your text" id="user_text"></textarea>
  </div>

  <div class="form-group">
    <label>Special Word</label>
    <input name="user_word" type="name" id="user_word" placeholder="Enter a word to count the occurrences of">
  </div>

  <div >
    <button>
      Process text
    </button>
  </div>

</form>
